.responseHeaders {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-border);
  overflow: hidden;

  .header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-border);
    height: 42px;
    overflow: hidden;

    h4 {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      font-weight: var(--font-weight-semibold);
      color: var(--color-font);
      font-family: var(--font-monospace);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    h4.title {
      position: sticky;
      top: 0;
      background-color: var(--color-input-background);
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
      font-family: var(--font-monospace);
      padding: 10px 15px;
      font-weight: var(--font-weight-semibold);
      height: 42px;
      border-bottom: 1px solid var(--color-border);
    }
  }
  .timingDisplay {
    display: flex;
    flex-direction: column;

    .timingGraph {
      display: flex;
      align-items: center;
      border-radius: var(--radius-m);
      padding: 20px 15px;

      .timingBar {
        height: 6px;
        border-radius: var(--radius-m);
        overflow: hidden;
        flex: 1;
        gap: 1px;
        display: flex;
        align-items: stretch;

        .latency {
          background-color: #d483ff;
        }

        .processingTime {
          background-color: #4cf34c;
        }

        .transferTime {
          background-color: #4cadf3;
        }
      }
    }

    .timingItem {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 10px 15px;
      border-bottom: 1px solid var(--color-border);

      .timingKey,
      .timingValue {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
        font-family: var(--font-monospace);
      }

      .timingKey {
        color: var(--color-font-light);
      }
    }
  }

  .headersDisplay {
    display: flex;
    flex-direction: column;
    // padding: 10px 15px;

    .headerItem {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 10px 15px;
      border-bottom: 1px solid var(--color-border);
      gap: 10px;

      .headerKey {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
        font-family: var(--font-monospace);
        color: var(--color-font-light);
      }

      .headerValue {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
        font-family: var(--font-monospace);
      }
    }
  }
}
