/* URLBuilder.module.scss */

.urlBuilder {
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  overflow: hidden;
  height: 48px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-input-background);

  &.focused {
    background-color: var(--color-element-background-dark);
  }
}

.methodPicker {
  border-right: 1px solid var(--color-border);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  font-weight: 500;
  padding: 0px 10px 0px 10px;
  width: 100px;
  span {
    font-family: var(--font-monospace);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);
    text-align: center;
    flex: 1;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-element-background-dark);
  }
}

.options {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 10px;
  gap: 10px;

  .buttonIcons {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-font);
    opacity: 0.5;
  }

  .copyButton {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--color-font-light);
    border-radius: var(--radius-m);

    &:hover {
      cursor: pointer;
      background: var(--color-element-background-light);
    }

    &:active {
      background-color: var(--color-element-background);
    }
  }
}
