.editableInputField {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  flex: 1;

  input, .valueDisplay {
    width: 100%;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: currentColor;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--radius-m);
    font-weight: var(--font-weight-semibold);
    padding: 5px 10px;
    letter-spacing: normal;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input {
    display: none;
    background-color: var(--color-background-light);
    border: 1px solid var(--color-border);

    &:focus {
      border-color: var(--color-primary);
    }
  }

  .valueDisplay {
    cursor: default;
  }

  &.editing {
    input {
      display: block;
    }

    .valueDisplay {
      display: none;
    }
  }
}