.fileTree {
  display: flex;
  flex-direction: column;

  .fileListing {
    display: flex;
    flex-direction: column;
    padding: 0px;

    .folder {
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 10px;
      gap: 10px;
      height: 44px;
      overflow: hidden;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-font-light);
        width: 18px;
        height: 18px;
        // background-color: var(--color-element-background-light);
        border-radius: var(--radius-l);
        // border: 1px solid var(--color-border);
      }

      .folderName {
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
        font-family: "Fira Code", monospace;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        background-color: var(--color-element-background-dark);
      }
    }

    .file {
      display: flex;
      align-items: center;
      padding: 10px;
      gap: 15px;
      height: 44px;
      overflow: hidden;

      .method {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-xs);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Fira Code", monospace;
      }

      .texts {
        display: flex;
        align-items: center;
        gap: 5px;
        flex: 1;
        overflow: hidden;

        .name {
          flex: 1;
          overflow: hidden;
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          color: var(--color-font);
          font-family: "Fira Code", monospace;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .methodText {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          color: var(--color-font-light);
          opacity: 0.5;
          width: 38px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: "Fira Code", monospace;

          &.GET {
            color: #46d326;
            // background-color: #46d326;
          }

          &.POST {
            color: #83b2ff;
            // background-color: #2777f7;
          }

          &.PUT {
            color: #e8aa1b;
            // background-color: #e8aa1b;
          }

          &.DELETE {
            color: #f25b2d;
            // background-color: #f25b2d;
          }

          &.PATCH {
            color: #9f92ff;
            // background-color: #9f92ff;
          }
        }

        .status {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          color: var(--color-font-light);
          width: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: var(--font-monospace);

          &.success {
            color: #46d326;
            // background-color: #46d326;
          }
          &.redirect {
            color: #e8aa1b;
            // background-color: #f25b2d;
          }

          &.clientError {
            color: #f25b2d;
            // background-color: #e8aa1b;
          }

          &.serverError {
            color: #f25b2d;
            // background-color: #f25b2d;
          }
        }
      }

      &:hover {
        background-color: var(--color-background-dark);
        .name {
          color: var(--color-font);
        }
      }

      &.active {
        background-color: var(--color-element-background-dark);
        .name {
          color: var(--color-font);
        }
      }
    }
  }
}
