.file {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  height: 40px;
  overflow: hidden;
  border-radius: var(--radius-m);
  border: 1px solid transparent;

  .method {
    display: flex;
    align-items: center;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-xs);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Fira Code", monospace;
  }

  .texts {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    overflow: hidden;
    color: var(--color-font-light);

    .name {
      flex: 1;
      color: var(--color-font-light);
    }

    .methodText {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      color: var(--color-font-light);
      opacity: 0.5;
      width: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Fira Code", monospace;

      &.GET {
        color: #46d326;
        // background-color: #46d326;
      }

      &.POST {
        color: #83b2ff;
        // background-color: #2777f7;
      }

      &.PUT {
        color: #e8aa1b;
        // background-color: #e8aa1b;
      }

      &.DELETE {
        color: #f25b2d;
        // background-color: #f25b2d;
      }

      &.PATCH {
        color: #9f92ff;
        // background-color: #9f92ff;
      }
    }

    .status {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      color: var(--color-font-light);
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--font-monospace);

      &.success {
        color: #46d326;
        // background-color: #46d326;
      }
      &.redirect {
        color: #e8aa1b;
        // background-color: #f25b2d;
      }

      &.clientError {
        color: #f25b2d;
        // background-color: #e8aa1b;
      }

      &.serverError {
        color: #f25b2d;
        // background-color: #f25b2d;
      }
    }
  }

  .deleteItem {
    display: none;
    color: var(--color-font-light);
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: var(--color-font);
    }
  }

  &:hover {
    .status {
      display: none;
    }

    .deleteItem {
      display: block;
    }

    .name {
      color: var(--color-font);
    }
  }

  &.active {
    background-color: var(--color-element-background-dark-transparent);
    border: 1px solid var(--color-border);
    .name {
      color: var(--color-font);
    }
  }
}
