.requestProperties {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    border-bottom: 1px solid var(--color-border);
    overflow: hidden;

    .tabs {
      display: flex;
      align-items: center;
      padding: 4px 5px 0px 5px;
      gap: 5px;
      height: 100%;
      overflow: hidden;
  
      .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        transition: color 0.2s;
        gap: 8px;
        padding: 5px 15px 5px 15px;
        margin-top: 4px;
        border: 1px solid transparent;
        border-radius: var(--radius-m) var(--radius-m) 0 0;
        position: relative;
  
        span.label {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          color: var(--color-font-light);
          font-weight: var(--font-weight-semibold);
          position: relative;
          z-index: 1;
          // font-family: "Fira Code", monospace;
        }

        .activeTabIndicator {
          position: absolute;
          inset: 0;
          background-color: var(--color-background-light);
          border: 1px solid var(--color-border);
          border-radius: var(--radius-m) var(--radius-m) 0 0;
          z-index: 0;
        }
  
        .contentIndicator {
          width: 6px;
          height: 6px;
          border-radius: var(--radius-rounded);
          background-color: var(--color-success);
          margin-top: 3px;
          display: none;
          position: relative;
          z-index: 1;
        }
  
        &.active {
          span.label {
            color: var(--color-font);
          }
        }
  
        &:hover {
          span {
            color: var(--color-font);
          }
        }
      }
    }

    .options {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0px 5px;

      .curlButton {
        display: flex;
        gap: 10px;
        height: 32px;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--color-font-light);
        font-family: var(--font-monospace);
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-semibold);
        border: none;
        outline: none;

        &:hover {
          cursor: pointer;
          background-color: var(--color-background-light);
        }
      }
    }
  }


  .tabView {
    overflow-x: hidden;
    overflow-y: hidden;
    flex: 1;
  }
}
