.method {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  font-family: var(--font-monospace);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
