.file {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  height: 40px;
  overflow: hidden;
  border-radius: var(--radius-m);
  border: 1px solid transparent;

  .texts {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    overflow: hidden;
    color: var(--color-font-light);

    .name {
      flex: 1;
      color: var(--color-font-light);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .methodText {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      color: var(--color-font-light);
      opacity: 0.5;
      width: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Fira Code", monospace;
      cursor: grab;
    }

    .status {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      color: var(--color-font-light);
      font-family: var(--font-monospace);

      &.success {
        color: #46d326;
        // background-color: #46d326;
      }
      &.redirect {
        color: #e8aa1b;
        // background-color: #f25b2d;
      }

      &.clientError {
        color: #f25b2d;
        // background-color: #e8aa1b;
      }

      &.serverError {
        color: #f25b2d;
        // background-color: #f25b2d;
      }
    }
  }

  .deleteItem {
    display: none;
    color: var(--color-font-light);
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: var(--color-font);
    }
  }

  &:hover {
    .status {
      display: none;
    }

    .deleteItem {
      display: block;
    }

    .name {
      color: var(--color-font);
    }
  }

  &.active {
    background-color: var(--color-element-background-dark-transparent);
    border: 1px solid var(--color-border);
    .name {
      color: var(--color-font);
    }
  }

  &.dragging {
    opacity: 0.5;
    border: 1px dashed var(--color-element-background);
  }

  &.hover {
    background-color: var(--color-element-background-dark);
  }
}
