.welcomeView {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .content {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    animation: fadeIn 0.3s ease;

    h1.title {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-xl);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-monospace);
      color: var(--color-font);
      padding: 10px;
    }

    p.description {
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      font-family: var(--font-monospace);
      padding: 10px 10px 20px 10px;
      color: var(--color-font-light);
      border-bottom: 1px solid var(--color-border);
    }

    .actions {
      display: flex;
      flex-direction: column;
      padding: 10px 0px;

      .action {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        gap: 15px;
        border-radius: var(--radius-m);
        // border-bottom: 1px solid var(--color-border);
        color: var(--color-font-light);

        .icon {
          width: 34px;
          height: 34px;
          background-color: var(--color-element-background-dark);
          // border: 1px solid var(--color-border);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--radius-m);
          color: currentColor;
        }

        .text {
          flex: 1;
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-family: var(--font-monospace);
          color: currentColor;
        }

        .shortcut {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-family: var(--font-monospace);
          color: var(--color-font-light);
          opacity: 0.5;
        }

        &:hover {
          background-color: var(--color-input-background);
          color: var(--color-font);
          cursor: pointer;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px);
    }
  }
}
