.select {
  display: flex;
  align-items: center;
  overflow: hidden;

  .chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    transition: 0.2s transform ease-in-out;

    &.open {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.options {
  display: flex;
  flex-direction: column;
  width: auto;

  .option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-font);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-semibold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-element-background-dark);
    }
  }
}

.portalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .optionsWrapper {
    display: block;
    overflow: auto;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-m);
    background-color: var(--color-background);
  }
}
