.variableEditor {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 480px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  border-radius: var(--radius-m);
  overflow: hidden;

  .content {
    flex: 1;
    display: grid;
    grid-template-columns: 200px 1fr;
    overflow: hidden;

    .sidebar {
      border-right: 1px solid var(--color-border);
      display: flex;
      flex-direction: column;
      background-color: var(--color-background-light);

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 42px;
        border-bottom: 1px solid var(--color-border);
        padding: 10px 5px 10px 15px;

        .title {
          display: flex;
          align-items: center;
          gap: 10px;

          h2 {
            font-size: var(--font-size-s);
            line-height: var(--line-height-s);
            font-weight: var(--font-weight-semibold);
          }
        }
      }

      .envList {
        flex: 1;
        overflow-y: auto;
        padding: 5px;
      }

      .envItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        height: 38px;
        cursor: pointer;
        transition: background-color 0.2s;
        border-radius: var(--radius-m);
        border: 1px solid transparent;
        position: relative;

        .activeBackground {
          position: absolute;
          inset: 0;
          background-color: var(--color-element-background-dark-transparent);
          border: 1px solid var(--color-border);
          border-radius: var(--radius-m);
          z-index: 0;
        }

        .envName {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-weight: var(--font-weight-semibold);
          padding: 5px 10px;
          flex: 1;
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
        }

        > * {
          position: relative;
          z-index: 1;
        }

        &:hover:not(.active) {
          background-color: var(--color-background-light);
        }
      }
    }

    .mainContent {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .envHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 5px 10px 5px;
        height: 42px;
        border-bottom: 1px solid var(--color-border);

        .envTitle {
          font-size: var(--font-size-s);
          line-height: var(--line-height-s);
          font-weight: var(--font-weight-semibold);
          padding: 5px 10px;
        }

        .options {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .tabs {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-border);
        padding: 2px 5px 0px 5px;
        gap: 5px;
        height: 42px;
        overflow: hidden;

        .tab {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: color 0.2s;
          gap: 8px;
          padding: 5px 15px 5px 15px;
          margin-top: 4px;
          border: 1px solid transparent;
          border-radius: var(--radius-m) var(--radius-m) 0 0;
          position: relative;

          span.label {
            font-size: var(--font-size-s);
            line-height: var(--line-height-s);
            color: var(--color-font-light);
            font-weight: var(--font-weight-semibold);
            position: relative;
            z-index: 1;
          }

          .activeTabIndicator {
            position: absolute;
            inset: 0;
            background-color: var(--color-background-light);
            border: 1px solid var(--color-border);
            border-radius: var(--radius-m) var(--radius-m) 0 0;
            z-index: 0;
          }

          .indicator {
            width: 6px;
            height: 6px;
            background-color: var(--color-success);
            border-radius: 50%;
            position: relative;
            z-index: 1;
          }

          &.active {
            span.label {
              color: var(--color-font) !important;
            }
          }

          &:hover {
            span.label {
              color: var(--color-font);
            }
          }
        }
      }

      .tabContent {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}
