.select {
  display: flex;
  align-items: center;
  overflow: hidden;

  .chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    transition: 0.2s transform ease-in-out;

    &.open {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 4px;

  .hoverBackground {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background-color: var(--color-input-background);
    border-radius: var(--radius-m);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.15s ease-in-out, height 0.2s ease-in-out;
    z-index: 0;
  }

  .option {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 5px;
    color: var(--color-font);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    // font-weight: var(--font-weight-semibold);
    border-radius: var(--radius-m);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    opacity: 0.85;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.portalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .optionsWrapper {
    display: block;
    overflow: auto;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-m);
    background-color: var(--color-background);
  }
}
