.studioLayout {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-light);
  height: 100%;
  width: 100%;
  overflow: hidden;

  .titleBar {
    height: 28px;
    background-color: var(--color-background);
    -webkit-app-region: drag;
  }

  .studioContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
