.folder {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 10px;
  height: 44px;
  overflow: hidden;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-light);
    width: 18px;
    height: 18px;
    // background-color: var(--color-element-background-light);
    border-radius: var(--radius-l);
    // border: 1px solid var(--color-border);
  }

  .folderName {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    // font-family: "Fira Code", monospace;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    background-color: var(--color-background-dark);

    .options {
      display: flex;
    }
  }
}
