.navigationWrapper {
  width: 280px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.explorerPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  
  .listHeader {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 10px 10px 10px 15px;

    .title {
      flex: 1;
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      font-weight: var(--font-weight-semibold);
      font-family: var(--font-monospace);
      display: flex;
      align-items: center;
      gap: 5px;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          animation: rotate 1s ease-in-out;
        }
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg) scale(1);
          color: var(--color-font-light);
        }
        50% {
          transform: rotate(180deg) scale(1.2);
          color: var(--color-error);
        }
        100% {
          transform: rotate(360deg) scale(1);
          color: var(--color-font-light);
        }
      }
    }

    .options {
      display: flex;
      align-items: center;
      gap: 5px;

      .optionIcon {
        color: var(--color-font-light);
        opacity: 0.7;

        &:hover {
          opacity: 1;
          color: var(--color-font);
        }
      }
    }
  }
}
