.navigationWrapper {
    width: 280px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
.explorerPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .listHeader {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 10px 10px 10px 15px;

        .title {
            flex: 1;
            font-size: var(--font-size-s);
            line-height: var(--line-height-s);
            font-weight: var(--font-weight-semibold);
            font-family: var(--font-monospace);
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .options {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}