.method {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  font-family: var(--font-monospace);

  &.GET {
    color: #46d326;
    // background-color: #46d326;
  }

  &.POST {
    color: #83b2ff;
    // background-color: #2777f7;
  }

  &.PUT {
    color: #e8aa1b;
    // background-color: #e8aa1b;
  }

  &.DELETE {
    color: #f25b2d;
    // background-color: #f25b2d;
  }

  &.PATCH {
    color: #9f92ff;
    // background-color: #9f92ff;
  }

  &.OPTIONS {
    color: #56c0e1;
    // background-color: #f25b2d;
  }

  &.HEAD {
    color: #bdf22d;
    // background-color: #f25b2d;
  }
}
