.tooltipContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  background-color: var(--color-element-background);
  color: white;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: tooltipFadeIn 0.2s ease-in-out;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-family: var(--font-monospace);
  
  &::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
}

.top {
  transform: translate(-50%, -100%);
  animation: topTooltipAnimation 0.2s ease-in-out !important;
  
  &::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--color-element-background) transparent transparent transparent;
  }
}

.bottom {
  transform: translate(-50%, 0);
  animation: bottomTooltipAnimation 0.2s ease-in-out !important;
  
  &::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--color-element-background) transparent;
  }
}

.left {
  transform: translate(-100%, -50%);
  animation: leftTooltipAnimation 0.2s ease-in-out !important;
  
  &::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--color-element-background);
  }
}

.right {
  transform: translate(0, -50%);
  animation: rightTooltipAnimation 0.2s ease-in-out !important;
  
  &::after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--color-element-background) transparent transparent;
  }
}

@keyframes tooltipFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 0.9;
    transform: translate(-50%, -50%);
  }
}

@keyframes topTooltipAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -90%);
  }
  to {
    opacity: 0.9;
    transform: translate(-50%, -100%);
  }
}

@keyframes bottomTooltipAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes leftTooltipAnimation {
  from {
    opacity: 0;
    transform: translate(-90%, -50%);
  }
  to {
    opacity: 0.9;
    transform: translate(-100%, -50%);
  }
}

@keyframes rightTooltipAnimation {
  from {
    opacity: 0;
    transform: translate(-10%, -50%);
  }
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}