.tabWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;

  .addTabButton {
    background-color: var(--color-background-light);
    // border: 1px solid var(--color-border);
    border-radius: 4px;

    &:hover {
      background-color: var(--color-element-background-dark);
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  padding: 10px 4px 0px 4px;
  overflow-x: hidden;
  overflow-y: hidden;

  .tabContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 0;

    .tabSeparator {
      width: 1px;
      height: 24px;
      background-color: var(--color-border);
      margin: 0px;
      // opacity: 0;

      &.hide {
        opacity: 0;
      }
    }
  }

  .tab {
    height: 38px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
    color: var(--color-font-light);
    width: 160px;
    max-width: 240px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 10px;
    flex-shrink: 1;

    .activeTabIndicator {
      position: absolute;
      inset: 0;
      background-color: var(--color-background);
      border-radius: 6px 6px 0px 0px;
      z-index: 0;
      box-shadow: 
        inset 1px 0 0 0 var(--color-border),
        inset -1px 0 0 0 var(--color-border),
        inset 0 1px 0 0 var(--color-border);

      .borderOverlay {
        display: none;
      }
    }

    > * {
      position: relative;
      z-index: 1;
    }

    span {
      padding: 0px 10px 0px 10px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-semibold);
      color: var(--color-font-light);
      position: relative;
      z-index: 1;
    }

    .closeButton {
      position: absolute;
      z-index: 2;
      width: 24px;
      height: 24px;
      right: 4px;
      border-radius: 4px;
      display: none;
      color: var(--color-font-light);
      background-color: var(--color-background);
      // backdrop-filter: blur(10px);
    }

    &.activeTab {
      color: var(--color-font);

      span {
        color: var(--color-font);
      }

      .closeButton {
        display: block;
      }
    }

    &:hover {
      color: var(--color-font);

      span {
        color: var(--color-font);
      }

      .closeButton {
        display: block;
      }
    }
  }
}
