.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
  border-radius: var(--radius-rounded);
  background-color: transparent;
  position: relative;
  opacity: 0.8;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    // color: var(--color-font-light);
  }

  .success {
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--color-success);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &.clicked {
    .content {
      opacity: 0;
    }
    .success {
      display: flex;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
    background-color: var(--color-element-background-dark);
    
    .content {
      color: var(--color-font);
    }
  }

  &.medium {
    width: 36px;
    height: 36px;
  }

  &.large {
    width: 40px;
    height: 40px;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
