.tabView {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-border);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid var(--color-border);

    .tabs {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 10px;
      padding: 5px 10px 0px 5px;
      overflow-y: hidden;
      overflow-x: auto;

      .tab {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px 0px 10px;
        color: var(--color-font-light);
        height: 100%;
        position: relative;
        gap: 10px;
        min-width: 60px;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid transparent;
        border-top: 2px solid transparent;
        border-radius: var(--radius-m) var(--radius-m) 0 0;
        margin-top: 2px;
        opacity: 0.5;

        span {
          text-align: center;
          align-items: flex-start;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: var(--font-size-xs);
          line-height: var(--line-height-xs);
          font-family: var(--font-monospace);
        }

        .method {
          display: flex;
          align-items: center;
          font-size: var(--font-size-xs);
          font-weight: var(--font-weight-semibold);
          line-height: var(--line-height-xs);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: "Fira Code", monospace;

          &.GET {
            color: #46d326;
            background-color: #46d326;
          }

          &.POST {
            color: #83b2ff;
            background-color: #2777f7;
          }

          &.PUT {
            color: #e8aa1b;
            background-color: #e8aa1b;
          }

          &.DELETE {
            color: #f25b2d;
            background-color: #f25b2d;
          }

          &.PATCH {
            color: #9f92ff;
            background-color: #9f92ff;
          }
        }

        .iconButton {
          position: absolute;
          right: 4px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          background-color: var(--color-background);
          width: 32px;
          height: 32px;
          opacity: 0;
          transform: scale(0);
          transition: scale 0.2s ease-in-out;

          &:hover {
            background-color: var(--color-background-light);
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
          color: var(--color-font);
          .iconButton {
            opacity: 1;
            transform: scale(1);
          }
        }

        &.active {
          opacity: 1;
          background-color: var(--color-input-background);
          border: 1px solid var(--color-border);
          border-top: 2px solid var(--color-primary);
          color: var(--color-font);
        }
      }

      .addTab {
        width: 34px;
        height: 34px;
        border-radius: var(--radius-m);
      }
    }

    .options {
      display: flex;
      align-items: center;
      height: 100%;

      .envButton {
        height: 32px;
        background-color: var(--color-background);
        color: var(--color-font);
        border: none;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
        width: 180px;
        border-left: 1px solid var(--color-border);
        padding: 0px 10px 0px 15px;

        span {
          flex: 1;
          text-align: start;
          font-size: var(--font-size-xs);
          line-height: var(--line-height-xs);
          font-family: var(--font-monospace);
        }

        &:hover {
          background-color: var(--color-input-background);
          opacity: 1;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
}
