.htmlContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);

  .htmlFrame {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }
}

