.svgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1rem;
  background-color: var(--color-background);

  .svgImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

