.tiptap {
  outline: none;
  color: var(--color-font);
  p.is-editor-empty:first-child::before {
    color: var(--color-font-light);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  pre {
    code {
      * {
        font-family: var(--font-monospace);
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
      }
      // Keywords (if, else, function, return, etc.)
      .hljs-keyword {
        color: #bb9af7;
      }

      // Variables, Identifiers, Deletions
      .hljs-variable,
      .hljs-name,
      .hljs-deletion,
      .hljs-macro {
        color: #c0caf5;
      }

      // Property Names
      .hljs-attr {
        color: #7aa2f7;
      }

      // Strings & Insertions
      .hljs-string,
      .hljs-inserted,
      .hljs-meta,
      .hljs-processing-instruction {
        color: #9ece6a;
      }

      // Function Names & Labels
      .hljs-title.function,
      .hljs-label {
        color: #7aa2f7;
      }

      // Constants, Standard Names
      .hljs-constant,
      .hljs-symbol,
      .hljs-class {
        color: #bb9af7;
      }

      // Definitions, Separators
      .hljs-definition,
      .hljs-separator {
        color: #c0caf5;
      }

      // Numbers, Annotations, Modifiers
      .hljs-number,
      .hljs-changed,
      .hljs-annotation,
      .hljs-modifier {
        color: #ff9e64;
      }

      // Type Names
      .hljs-type {
        color: #0db9d7;
      }

      // Operators
      .hljs-operator {
        color: #bb9af7;
      }

      // URLs, Escapes, Regex
      .hljs-link,
      .hljs-regexp,
      .hljs-escape {
        color: #b4f9f8;
      }

      // Comments
      .hljs-comment {
        color: #444b6a;
        font-style: italic;
      }

      // Emphasis & Strong
      .hljs-strong {
        font-weight: bold;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      // Headings
      .hljs-heading {
        font-weight: bold;
        color: #89ddff;
      }

      // Boolean, Atoms, Special Variables
      .hljs-atom,
      .hljs-bool,
      .hljs-special {
        color: #c0caf5;
      }

      // Invalid Syntax
      .hljs-invalid {
        color: #ff5370;
      }

      // Strikethrough
      .hljs-strikethrough {
        text-decoration: line-through;
      }
    }
  }
}
