.URLEditor {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.editorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Fira Code", monospace;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-semibold);
}

// .highlightOverlay {
//   position: absolute;
//   display: flex;
//   align-items: center;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   white-space: nowrap;
//   overflow: hidden;
//   height: 100%;
//   padding: 0px 12px;
//   pointer-events: none; /* Allow clicks to pass through to the input below */
//   z-index: 1;
//   font-size: var(--font-size-s);
//   font-weight: var(--font-weight-semibold);
//   font-family: "Fira Code", monospace;
//   color: var(--color-font-light); /* Set base color for non-highlighted text */
//   line-height: 48px;

//   span {
//     /* Inherit all properties from parent except color for highlighted parts */
//     font-size: inherit;
//     line-height: inherit;
//     font-weight: inherit;
//     font-family: inherit;
//     letter-spacing: 0.015rem;
//   }

//   /* URL part highlighting colors */
//   .protocol {
//     color: #6c6e74;
//   }

//   .auth {
//     color: #990000;
//   }

//   .domain {
//     color: #dee8f5;
//   }

//   .port {
//     color: #fbb268;
//   }

//   .path {
//     color: #ffb330;
//   }

//   .query {
//     color: #7aa2f7;
//   }

//   .hash {
//     color: #738c95;
//   }

//   .variable {
//     color: #acfe86;
//   }

//   .file {
//     color: #fb68fb;
//   }
// }

.input {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 12px;
  color: var(--color-font); /* Make text invisible, not white */
  caret-color: rgb(122, 136, 167); /* Make cursor visible */
  z-index: 2;
  white-space: nowrap;
  letter-spacing: 0.015rem;
  font-size: var(--font-size-s);
  line-height: 48px;
  font-weight: var(--font-weight-semibold);
  font-family: "Fira Code", monospace;
}
